@use "./variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: $primary-color-dark-green;
}

body {
  background-color: #e9efec;
}
