@use "./variables" as *;
@use "./mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

html {
  font-family: sans-serif;
  color: $primary-color-dark-green;
}

body {
  background-color: #e9efec;
  background-color: white;
}

h1 {
  font-size: 1.5rem;
  @include tablet {
    font-size: 3rem;
  }
  @include desktop {
    font-size: 4rem;
  }
}
