@use "./variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button{
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: $primary-color-dark-green;
}

body {
  background-color: #e9efec;
}
select{
  background-color: $medium-green;
  border: none;
  border-radius: 4px;
  color:white;
 &:hover{
  background-color: $primary-color-dark-green;
 }
 
}

label{
  color:$medium-green;
}
