//Breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

$Brainfood-Salmon: lightsalmon;

$primary-color-dark-green: #16423c;

$mobile-padding: 1rem;
$mobile-padding-before-heading: 1.5rem;

$border-radius-small: 0.5rem;
$border-radius-big: 1rem;

$border-size: 0.125rem;
