/* Header */
@use "./_partials/global" as *;
@use "./_partials/variables" as *;
@use "./_partials/mixins" as *;

a {
  color: yellow;
  text-decoration: none;
}

h3 {
  color: $primary-color-dark-green;
}

header {
  padding: 10px;
  //   background-color: inherit;
  border-bottom: 2px solid #294b29;
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  justify-content: center;

  &__home {
    margin: 0;
    color: $primary-color-dark-green;
  }

  &__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__list {
    margin-left: 20px;
  }

  &__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: $primary-color-dark-green;
    &__:hover {
      color: #ff4500;
    }
  }

  /* Profile Section */
  &__profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
    &__--image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
      border: 2px solid #ff6600;
    }

    &__--text {
      font-size: 1.2rem;
      color: $primary-color-dark-green;
    }
  }
}

/* Search Bar */
.search {
  width: 80%;
  margin-top: $mobile-padding;
  display: flex;
  flex-direction: column;

  &__input {
    padding: $mobile-padding;
    font-size: 1rem;
    width: 100%;
    border: $border-size solid #294b29;
    border-radius: $border-radius-small;
  }

  &__button {
    margin-top: $mobile-padding;
    padding: 10px;
    font-size: 1rem;
    border: $border-size solid #294b29;
    border-left: none;
    background-color: #294b29;
    color: white;
    border-radius: $border-radius-small;
    cursor: pointer;
    &__:hover {
      background-color: $primary-color-dark-green;
    }
  }
  &__item {
    padding-top: $mobile-padding;
  }
}
.menu {
  padding: $mobile-padding;
  //   background-color: #fff5e6;
  &__form-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: $mobile-padding 0;
    align-items: center;
    /* padding: 1rem; */
    // border: 0.5rem solid;
    // border-radius: 1rem;
    // padding: 4rem;
  }

  &__title {
    padding-top: $mobile-padding-before-heading;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
}
.carousel {
  border-top: $border-size solid #16423c;
  padding: $mobile-padding-before-heading * 3 0;
  display: flex;
  overflow-x: scroll;
  align-items: center;
}
footer {
  padding: 10px;
  //   background-color: #fff5e6;
  border-top: 2px solid #ffb84d;
}

.footer {
  &__home {
    margin: 0;
    color: #16423c;
  }
}

.recipe__img {
  height: 20rem;
  //   width: 100%;
  border-radius: 2rem;
}

.recipe {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.3rem;
  border: 0.3rem solid #16423c;
  border-radius: 2rem;
  margin-right: $mobile-padding;
  width: 20rem;
  position: relative;

  @include tablet {
    width: 50rem;
  }
  &:hover {
    transform: scale(1.1);
    margin: 0 $mobile-padding * 4;

    @include tablet {
      transform: scale(1.3);
    }
  }

  &__title {
    position: absolute;
    bottom: 2rem;
    color: white;
    padding: 1rem;
    background-color: #16423c56;
    border-radius: 1rem;
    // width: 100%;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
