/* Header */
@use "./_partials/global" as *;
@use "./_partials/variables" as *;
@use "./_partials/mixins" as *;

a {
  color: yellow;
  text-decoration: none;
}

h3 {
  color: $primary-color-dark-green;
}

header {
  padding: 10px;
  //   background-color: inherit;
  border-bottom: 2px solid #ffb84d;
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  justify-content: center;

  &__home {
    margin: 0;
    color: $primary-color-dark-green;
  }

  &__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__list {
    margin-left: 20px;
  }

  &__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: $primary-color-dark-green;
    &__:hover {
      color: #ff4500;
    }
  }

  /* Profile Section */
  &__profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
    &__--image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
      border: 2px solid #ff6600;
    }

    &__--text {
      font-size: 1.2rem;
      color: $primary-color-dark-green;
    }
  }
}

/* Search Bar */
.search {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  &__input {
    padding: 10px;
    font-size: 1rem;
    width: 300px;
    border: 1px solid #ffb84d;
    border-radius: 4px 0 0 4px;
  }

  &__button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ff6600;
    border-left: none;
    background-color: #ff6600;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    &__:hover {
      background-color: $primary-color-dark-green;
    }
  }
}
main {
  //   background-color: #fff5e6;
}
.carousel {
  flex-direction: column;
  display: flex;
  align-items: center;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
footer {
  padding: 10px;
  //   background-color: #fff5e6;
  border-top: 2px solid #ffb84d;
}

.footer {
  &__home {
    margin: 0;
    color: #16423c;
  }
}

.recipe_img {
  height: 20rem;
  width: 25rem;
}

.recipe {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
